.venv
.vscode
.idea
dist/
dist/js/
node_modules/
venv
__pycache__
generate.py
package-lock.json
POSTGRES.json
docker_build_push.bat
.env
.gradle
app/
gradlew
gradle.properties
build.gradle
android.keystore
local.properties
gradlew.bat
store_icon.png
settings.gradle
twa-manifest.json
gradle/
manifest-checksum.txt