@font-face {
    font-family: 'Varela Round';
    src: url('/static/Varela Round.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.character-counter{
    display: none;
}
html {
    font-family: 'Varela Round';
    scrollbar-width: none;
}
#joinSingAlongButton, #createSingAlongButton, #welcomeButton, #installInstructionsButton, #singAlongInstructionsButton, #updateButton{
    width: 98%;
    text-align: left;
}
h4 {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16pt;
}
#songSelection ul{
    top: 0px;
}
.text {
    margin: 5vw;
}

.collection a.collection-item{
    color: #7d5bbe;
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;
    text-overflow: clip;
    text-wrap: wrap;
    height: auto;
    line-height: normal;
    text-align: left;
}
.collection .played  {
    background-color: #7d5bbe;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.collection .collection-item.active{
    background-color: #7d5bbe;
    color: #ffffff;
}
body {
    font-family: 'Varela Round';
}

.song {
    display: inline-flex;
    text-wrap: nowrap;
    text-overflow: clip;
    text-wrap: wrap;
    height: auto;
    line-height: normal;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.song span{
    text-align: left;
}

.scrollable-list {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 5px;
}


.btn,
.btn-large,
.btn-small,
.btn-flat {
    text-transform: none;
    margin: 3px;
}
.song-button-collapse .home-button-collapse{
    padding: 0;
    cursor: default;
    color: white;
    font-size: 32px;
    text-align: center;
}

.song-button-collapse .material-icons,
.home-button-collapse .material-icons{
    padding: 0;
    cursor: default;
    color: white;
    font-size: 32px;
}
details .btn{
    text-transform: none;
    width: 100%;
}
.song-div{
    width: 100%;
    display: inline-flex;
    gap: 15px;
}

.song-div label{
    margin: auto;
    text-align: center;
    align-items: center;
    height: 1.5em;
}

summary {
    list-style: none;
    padding: 10px;
}

details {
    font-size: 20px;
    font-weight: bold;
    background: #7d5bbe;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: 1s background linear;
    margin: 5px;
    color: white;
}

details:hover,
details:focus {
    background: #7d5bbe;
    transition: 0.3s color linear;
}

details:before {
    content: "";
}

details[open] {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #431b92db
}


#header {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.page-footer {
    bottom: 0px;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #7d5bbe;
}

#noTextMessage {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    background-color: #7d5bbe;
    z-index: 10;
}
#navbarsingAlongSongsList p{
    font-size: 16px;
    text-align: left;
    padding: 5px;
}
#navbarArrangementName {
    text-align: center;
    font-size: 16pt;
    padding-top: 5px;
    text-decoration: none;
}
#songPageNavBarTitle{
    font-size: 12pt;
    text-wrap: balance;
    text-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: none;
    line-height: 15px;
    margin: auto;
    margin-left: 0;
    padding: 5px;
}
.dropdown-content{
    position: block;
}
.side-nav{
    height: 100%;
}
.side-nav li {
    text-decoration: none;
}

.fixed-action-btn.horizontal ul li {
    margin: 15px 5px 0 0;
}

.contents {
    margin: 40px;
}

#addCustomContentButton {
    position: absolute;
    height: 60px;
    top: 0;
    right: 0;
    margin: 7px;
}
.nav-wrapper{
    display: flex;
}
.home-page-title{
    font-size: 16pt;
    width: 100%;
}
#filesListContainer {
    margin: 5vw;
}
.song-container{
    margin-left: 1em;
}
#song-content{
    margin-right: 2em;
}
#song-title{
    font-size: 18pt;
    font-weight: bold;
    margin-right: 2em;
}
.fixed-bottom-center {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btn-custom {
    width: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#book-icon {
    top: 5px;
    margin-right: 5px;
    position: relative;
}

#createSingAlongModal, #joinSingAlongModal, #readWelcomeModal, #readInstallInstructionsModal, #readSingAlongInstructionsModal{
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: min-content;
    top: 0;
}
#readWelcomeModal li,
#readInstallInstructionsModal li,
#readSingAlongInstructionsModal li{
    text-indent: 15px;
    margin-bottom: 10px;
}
.modal{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: none;
}
.modal .modal-content{
    box-shadow: none;
    -webkit-box-shadow: none;
    height: auto;
    top: 0;
}.search-box {
    position: relative;
    width: 100%;
}

#clear-search {
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    top: 45%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    display: none; /* Initially hidden */
}
span .highlight{
    color: white;
    background-color: #adb361a1;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
}
.modal .modal-content strong{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.caret{
    display: none;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #7d5bbe;
    box-shadow: 0 1px 0 0 #7d5bbe;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #7d5bbe;
}
[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid #7d5bbe;
    background-color: #7d5bbe;
}
.select-dropdown.dropdown-content li.selected{
    color: white;
    background-color: #7d5bbe;
}
[type="checkbox"].filled-in:not(:checked)+label:after{
    border: 2px solid #7d5bbe;
    background-color: #4c1b5f6f
}
.spinner-layer{
    border-color: #7d5bbe;
}
#connectedClients{
    padding: 5px;
    font-size: 16px;
}
#song-slide-out{
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 0;
}
#song-slide-out .collection,
#song-slide-out #navbarsingAlongSongsList,
#song-slide-out #navbarSongsList {
    max-height: calc(100vh - 150px); /* Adjust based on the height of other elements */
    overflow-y: auto; /* Allow vertical scrolling within collections */
}


#singAlongControls {
    position: sticky; /* Make the controls sticky to always be accessible */
    bottom: 0;
    background: white; /* Ensure it doesn't blend with the content */
    width: 100%;
    z-index: 1; /* Ensure it stays above other content */
    display: none;
}
#navbarSongs{
    overflow-y: scroll;
    overflow-x: hidden;
}
#navbarSearch{
    margin-bottom: 0;
}
.modal{
    max-height: 80%;
}