.hidden {
    display: none !important;
}

::selection {
    color: var(--on-primary);
    background-color: var(--primary);
    font-weight: bold;
}

p.active-paragraph {
    z-index: 1;
    position: relative;
    filter: none;
    pointer-events: none;
    background-color: inherit;
    color: inherit;
    transition: filter var(--speed2) ease-in-out, background-color var(--speed2) ease-in-out, color var(--speed2) ease-in-out;
}

p {
    transition: filter var(--speed2) ease-in-out, background-color var(--speed2) ease-in-out, color var(--speed2) ease-in-out;
}

p.active-paragraph.blur-none {
    background-color: inherit;
    color: inherit;
}

details:not(.none) {
    background-color: var(--primary) !important;
}

details:not(.none)::-webkit-details-marker {
    display: none;
}

details:not(.none) summary {
    color: var(--on-surface) !important;
}

details:not(.none)[open] {
    height: auto;
    border: 0.0625rem solid var(--primary) !important;
    background-color: var(--surface) !important;
}

details:not(.none)[open] summary {
    color: var(--on-surface) !important;
}

span .highlight,
h6 .highlight {
    color: var(--on-primary);
    background-color: var(--primary);
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block !important;
}
