html, body, div, article, p, h1, h2, h3, h4, h5, h6, ul, li, span, a, button, input, textarea, select, details, summary, footer, nav {
    transition: background-color 0.3s ease-in-out, color 0.1s ease;
}


.hidden{
    display: none !important;
}

#file-content p span {
    display: block;
    line-height: normal;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}

.file-item i{
    display: none;
}

.file-item.selectable i {
    display: flex;
}

.file-item.selectable {
    cursor: pointer;
}

.file-item.selected {
    background-color: var(--on-primary) !important;
    color: var(--primary) !important;
}

::selection {
    color: var(--on-primary);
    background-color: var(--primary);
}

p.active-paragraph {
    z-index: 1;
    position: relative;
    filter: none;
    pointer-events: none;
    background-color: inherit;
    color: inherit;
    transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

p.active-paragraph.blur-none {
    background-color: inherit;
    color: inherit;
    transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#file-content.blur p:not(.active-paragraph) {
    filter: blur(4px);
    pointer-events: none;
    transition: filter 0.2s ease-in-out;
}

#file-content.blur p:not(.active-paragraph),
#file-content.blur {
    background-color: inherit;
    color: inherit;
}

.group-content {
    max-height: 300px;
    overflow-y: scroll;
}

details {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 5rem !important;
    transition: all 0.3s ease;
    ::-webkit-details-marker {
        display: none;
    }
}

details[open] {
    height: auto;
    max-height: 99em !important;
    border: 0.0625rem solid var(--primary) !important;
    transition: max-height 1.3s ease;
}

span .highlight,
h6 .highlight {
    color: var(--on-primary);
    background-color: var(--primary);
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block !important;
}
#install-pwa {
    display: none
 }
 @media (display-mode: browser) {
    #install-pwa {
      display: flex
    }
 }