.hidden {
    display: none !important;
}

#file-content p span {
    display: block;
    line-height: normal;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}

.file-item i {
    display: none;
}

.file-item.selectable i {
    display: flex;
}

.file-item.selectable {
    cursor: pointer;
}

.file-item.selected {
    background-color: var(--on-primary) !important;
    color: var(--primary) !important;
}

::selection {
    color: var(--on-primary);
    background-color: var(--primary);
    font-weight: bold;
}

p.active-paragraph {
    z-index: 1;
    position: relative;
    filter: none;
    pointer-events: none;
    background-color: inherit;
    color: inherit;
    transition: filter var(--speed2) ease-in-out, background-color var(--speed2) ease-in-out, color var(--speed2) ease-in-out;
}

p {
    transition: filter var(--speed2) ease-in-out, background-color var(--speed2) ease-in-out, color var(--speed2) ease-in-out;
}

p.active-paragraph.blur-none {
    background-color: inherit;
    color: inherit;
}

#file-content.blur p:not(.active-paragraph) {
    filter: blur(4px);
    pointer-events: none;
}

#file-content.blur p:not(.active-paragraph),
#file-content.blur {
    background-color: inherit;
    color: inherit;
}

.group-content {
    max-height: 300px;
    overflow-y: scroll;
}

details:not(.none) {
    background-color: var(--primary) !important;
}

details:not(.none)::-webkit-details-marker {
    display: none;
}

details:not(.none) summary {
    color: var(--on-primary) !important;
}

details:not(.none)[open] {
    height: auto;
    border: 0.0625rem solid var(--primary) !important;
    background-color: var(--surface) !important;
}

details:not(.none)[open] summary {
    color: var(--on-surface) !important;
}

span .highlight,
h6 .highlight {
    color: var(--on-primary);
    background-color: var(--primary);
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block !important;
}
