<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="/static/icons/favicon.png"/>
    <meta name="description" content="A comprehensive app for accessing, managing, and sharing Hutterite literature."/>
    <title>Hutterite Bookshelf</title>
  </head>

  <header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
      <button class="circle transparent" onclick="window.location.href = '/';">
        <i>arrow_back</i>
      </button>
      <h5 class="max center-align small">Baptism Booklet</h5>
      <button class="circle transparent" onclick="mode()" id="toggle-theme">
          <i>dark_mode</i>
      </button>
    </nav>
  </header>

  <body>
    <main class="responsive">
        <div class="tabs">
          <a class="active" data-ui="#frage">Frage</a>
          <a data-ui="#spruch">Spruch</a>
          <a data-ui="#request">Request</a>
        </div>
        <div class="page no-padding active" id="frage">
          <nav class="center-align top-padding">
            <!-- German Question -->
            <button class="primary small-round tiny german" id="german-question-0" onclick="playaudio('frage/german/full', this)" style="display: block">
              <i>play_arrow</i>
            </button>
            <a href="/static/audio/frage/german/full.mp3" download="Baptism - Frage (German).mp3" class="border small-round tiny german small-padding wave" style="display: block">
              <i>download</i>
            </a>
            <!-- English Question -->
            <button class="primary small-round tiny english" id="english-question-0" onclick="playaudio('frage/english/full', this)" style="display: none">
              <i>play_arrow</i>
            </button>
            <a href="/static/audio/frage/english/full.mp3" download="Baptism - Frage (English).mp3" class="border small-round tiny english small-padding wave" style="display: none">
              <i>download</i>
            </a>
          </nav>
          <label class="checkbox padding">
            <input type="checkbox" id="always-open-checkbox"/>
            <span>Open All Questions</span>
          </label>
          <!-- Language Switch -->
          <div class="field middle-align medium-width top-margin">
            <nav>
              <div class="max">
                <h6>Translate</h6>
                <div>Translate All Questions from German to English</div>
              </div>
              <label class="switch icon">
                <input type="checkbox" class="translate-checkbox" data-question="{{question_number}}" autocomplete="off" id="language-switch-checkbox"/>
                <span>
                  <i>translate</i>
                </span>
              </label>
            </nav>
          </div>
          <div class="grid no-space" style="align-items: center;">
            {% for question_number, question_data in baptism_booklet_data["questions_and_answers"].items() %}
              <details class="small-margin small-round s12 m6 l6">
                <summary class="small-padding fill row">
                  <!-- German Question -->
                  <span class="german max no-line" id="german-question-{{question_number}}" style="display: block">
                    {{question_number}}.
                    {{question_data["german"]["question"]}}
                    <button class="primary small-round circle none badge" onclick="playaudio('frage/german/q{{question_number}}', this)">
                      <i>play_arrow</i>
                    </button>
                  </span>
                  <!-- English Question -->
                  <span class="english max no-line" id="english-question-{{question_number}}" style="display: none">
                    {{question_number}}.
                    {{question_data["english"]["question"]}}
                    <button class="primary small-round circle none badge" onclick="playaudio('frage/english/q{{question_number}}', this)">
                      <i>play_arrow</i>
                    </button>
                  </span>
                  <label class="switch icon">
                    <input type="checkbox" class="translate-checkbox" data-question="{{question_number}}" autocomplete="off"/>
                    <span>
                      <i>translate</i>
                    </span>
                  </label>
                </summary>

                <!-- Answers -->
                <pre class="german no-margin no-line" id="german-answer-{{question_number}}" style="display: block">{{question_data["german"]["answer"]}}<button class="primary small-round circle none badge" onclick="playaudio('frage/german/a{{question_number}}', this)"><i>play_arrow</i></button></pre>
                <pre class="english no-margin no-line" id="english-answer-{{question_number}}" style="display: none">{{question_data["english"]["answer"]}}<button class="primary small-round circle none badge" onclick="playaudio('frage/english/a{{question_number}}', this)"><i>play_arrow</i></button></pre>

                <!-- References -->
                <div class="german right-align" id="german-reference-{{question_number}}" style="display: block">
                  {% for reference in question_data["german"]["references"] %}
                    <a class="none badge small-round tiny-padding transparent wave">{{reference}}</a>
                  {% endfor %}
                </div>
                <div class="english right-align" id="english-reference-{{question_number}}" style="display: none">
                  {% for reference in question_data["english"]["references"] %}
                    <a class="none badge small-round tiny-padding transparent wave">{{reference}}</a>
                  {% endfor %}
                </div>
              </details>
            {% endfor %}
          </div>
        </div>
        <div class="page no-padding center-align" id="spruch">
          <p class="center-align bold">GOTTES ERLÖSUNGSPLAN II Ein anderer schöner Spruch für die Täuflinge zu lernen.</p>
          <nav class="center-align top-padding">
            <button class="primary small-round tiny" onclick="playaudio('spruch/full', this)">
              <i>play_arrow</i>
            </button>
            <a href="/static/audio/spruch/full.mp3" download="Baptism - Spruch (German).mp3" class="border small-round tiny english small-padding wave">
              <i>download</i>
            </a>
          </nav>
          {% for verse_number, content in baptism_booklet_data["poems"]["gottes_erlösungsplan"].items() %}
            <p class="no-line center-align">
              {{verse_number}}. {{content}} <button class="primary small-round circle none badge" onclick="playaudio('spruch/{{verse_number}}', this)">
                      <i>play_arrow</i>
                    </button>
            </p>
            {% endfor %}
        </div>
        <div class="page no-padding" id="request">
          <div class="grid no-space">
            <article class="s12 m6 l6 margin">
              <h6>{{baptism_booklet_data["request"]["german"]["title"]}}</h6>
              <p class="no-line">{{baptism_booklet_data["request"]["german"]["content"]}}</p>
            </article>
            <article class="s12 m6 l6 margin">
              <h6>{{baptism_booklet_data["request"]["english"]["title"]}}</h6>
              <p class="no-line">{{baptism_booklet_data["request"]["english"]["content"]}}</p>
            </article>
          </div>
        </div>
      </div>
    </main>

    <script>
      function playaudio(filename, button) {
        // Check if the button has an associated audio instance
        if (button.audio) {
          // If audio is playing, stop and reset it
          button
            .audio
            .pause();
          button.audio.currentTime = 0; // Reset to the beginning
          button
            .audioCtx
            .close(); // Close the AudioContext to clean up
          button.audio = null; // Clear the audio reference
          button.audioCtx = null; // Clear the AudioContext reference
          button.innerHTML = '<i>play_arrow</i>'; // Change button back to play
          return;
        }

        // Create new audio and AudioContext instances
        const audio = new Audio(`/static/audio/${filename}.mp3`);
        const audioCtx = new(window.AudioContext || window.webkitAudioContext)();
        const gainNode = audioCtx.createGain();

        // Associate the audio and AudioContext instances with the button
        button.audio = audio;
        button.audioCtx = audioCtx;

        // Update the button to show "stop"
        button.innerHTML = '<i>stop</i>';

        // Gain configuration for volume control
        audio.addEventListener('canplaythrough', () => {
          // Create a new MediaElementSourceNode for the audio element
          const source = audioCtx.createMediaElementSource(audio);
          source.connect(gainNode);
          gainNode.connect(audioCtx.destination);

          // Set the gain value (adjustable volume)
          gainNode.gain.value = 20; // Set desired volume level
          audio.play();
        });

        // Reset button state when audio ends
        audio.addEventListener('ended', () => {
          button
            .audio
            .pause();
          button.audio.currentTime = 0;
          button
            .audioCtx
            .close();
          button.audio = null;
          button.audioCtx = null;
          button.innerHTML = '<i>play_arrow</i>'; // Change button back to play
        });

        // Error handling for audio loading issues
        audio.addEventListener('error', () => {
          console.error(`Error playing audio file: ${filename}`);
          button
            .audio
            .pause();
          button.audio.currentTime = 0;
          button
            .audioCtx
            .close();
          button.audio = null;
          button.audioCtx = null;
          button.innerHTML = '<i>play_arrow</i>'; // Reset button to play
        });
      }
      const updateIcon = (mode) => {
          const iconElements = document.querySelectorAll('#toggle-theme i');
          iconElements.forEach(iconElement => {
              iconElement.textContent = mode === "dark" ? "light_mode" : "dark_mode";
          });
      };

      const mode = () => {
          let currentMode = localStorage.getItem("mode") || "dark";
          let newMode = currentMode === "dark" ? "light" : "dark";
          localStorage.setItem("mode", newMode); // Save mode to localStorage
          ui("mode", newMode);
          updateIcon(newMode);
          document.documentElement.classList.toggle("dark", newMode === "dark");
      };

      document.addEventListener("DOMContentLoaded", () => {
        let savedMode = localStorage.getItem("mode") || "light";
        ui("mode", savedMode);
        updateIcon(savedMode);
        document.documentElement.classList.toggle("dark", savedMode === "dark");

        const languageSwitchCheckbox = document.getElementById("language-switch-checkbox");
        const alwaysOpenCheckbox = document.getElementById("always-open-checkbox");
        const translateCheckboxes = document.querySelectorAll(".translate-checkbox");

        // Toggle language globally
        languageSwitchCheckbox.addEventListener("change", (e) => {
          const isGerman = e.target.checked;
          const germanElements = document.querySelectorAll(".german");
          const englishElements = document.querySelectorAll(".english");

          germanElements.forEach(
            (el) => el.style.display = !isGerman
            ? "block"
            : "none");
          englishElements.forEach(
            (el) => el.style.display = !isGerman
            ? "none"
            : "block");
          translateCheckboxes.forEach((checkbox) => {
            checkbox.checked = isGerman; // Set to English if not German
          });
        });

        // Toggle translation for individual questions
        translateCheckboxes.forEach((checkbox) => {
          checkbox.addEventListener("change", (e) => {
            const questionId = e.target.dataset.question;
            const isGerman = !e.target.checked;

            document
              .getElementById(`german-question-${questionId}`)
              .style
              .display = isGerman
                ? "block"
                : "none";
            document
              .getElementById(`english-question-${questionId}`)
              .style
              .display = isGerman
                ? "none"
                : "block";
            document
              .getElementById(`german-answer-${questionId}`)
              .style
              .display = isGerman
                ? "block"
                : "none";
            document
              .getElementById(`english-answer-${questionId}`)
              .style
              .display = isGerman
                ? "none"
                : "block";
            document
              .getElementById(`german-reference-${questionId}`)
              .style
              .display = isGerman
                ? "block"
                : "none";
            document
              .getElementById(`english-reference-${questionId}`)
              .style
              .display = isGerman
                ? "none"
                : "block";
          });
        });

        // Always open questions functionality
        alwaysOpenCheckbox.addEventListener("change", (e) => {
          const open = e.target.checked;
          document
            .querySelectorAll("details")
            .forEach((detail) => {
              detail.open = open;
            });
        });
      });
    </script>
  </body>
</html>
