<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="de">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="/static/icons/favicon.png"/>
    <meta name="description" content="A comprehensive app for accessing, managing, and sharing Hutterite literature."/>
    <title>Hutterite Bookshelf</title>
</head>

<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <button class="circle transparent" onclick="window.location.href = '/';">
        <i>arrow_back</i>
        </button>
        <h5 class="max center-align small">Baptism Booklet</h5>
        <button class="circle transparent">
            <i>more_vert</i>
            <menu class="no-wrap left">
                <a class="row" id="set-theme" onclick="ui('#set-theme-dialog')">
                    <i>palette</i>
                    <span>Color Theme</span>
                </a>
                <a class="row" id="privacy-policy" href="/privacy_policy">
                    <i>policy</i>
                    <span>Privacy Policy</span>
                </a>
            </menu>
        </button>
    </nav>
</header>

<body>
    <main class="responsive">
        <div class="tabs">
            <a class="active" data-ui="#frage">Frage</a>
            <a data-ui="#spruch">Spruch</a>
            <a data-ui="#request">Request</a>
        </div>
        <div class="page no-padding active" id="frage">
            <nav class="center-align top-padding">
            <!-- German Question -->
            <button class="primary small-round tiny german" id="german-question-0" onclick="playaudio('frage/german/full', this)" style="display: block">
                <i>play_arrow</i>
            </button>
            <a href="/static/audio/frage/german/full.mp3" download="Baptism - Frage (German).mp3" class="border small-round tiny german small-padding wave" style="display: block">
                <i>download</i>
            </a>
            <!-- English Question -->
            <button class="primary small-round tiny english" id="english-question-0" onclick="playaudio('frage/english/full', this)" style="display: none">
                <i>play_arrow</i>
            </button>
            <a href="/static/audio/frage/english/full.mp3" download="Baptism - Frage (English).mp3" class="border small-round tiny english small-padding wave" style="display: none">
                <i>download</i>
            </a>
            </nav>
            <label class="checkbox padding">
            <input type="checkbox" id="always-open-checkbox"/>
            <span>Open All Questions</span>
            </label>
            <!-- Language Switch -->
            <div class="field middle-align medium-width top-margin">
            <nav>
                <div class="max">
                <h6>Translate</h6>
                <div>Translate All Questions from German to English</div>
                </div>
                <label class="switch icon">
                <input type="checkbox" class="translate-checkbox" data-question="{{question_number}}" autocomplete="off" id="language-switch-checkbox"/>
                <span>
                    <i>translate</i>
                </span>
                </label>
            </nav>
            </div>
            <div class="grid no-space no-gap" style="align-items: center;">
            {% for question_number, question_data in baptism_booklet_data["questions_and_answers"].items() %}
                <details class="small-margin small-round s12 m6 l6">
                <summary class="small-padding small-round fill row">
                    <!-- German Question -->
                    <span class="german max no-line" id="german-question-{{question_number}}" style="display: block">
                    {{question_number}}.
                    {{question_data["german"]["question"]}}
                    <button class="primary small-round circle none badge" onclick="playaudio('frage/german/q{{question_number}}', this)">
                        <i>play_arrow</i>
                    </button>
                    </span>
                    <!-- English Question -->
                    <span class="english max no-line" id="english-question-{{question_number}}" style="display: none">
                    {{question_number}}.
                    {{question_data["english"]["question"]}}
                    <button class="primary small-round circle none badge" onclick="playaudio('frage/english/q{{question_number}}', this)">
                        <i>play_arrow</i>
                    </button>
                    </span>
                    <label class="switch icon">
                    <input type="checkbox" class="translate-checkbox" data-question="{{question_number}}" autocomplete="off"/>
                    <span>
                        <i>translate</i>
                    </span>
                    </label>
                </summary>

                <pre class="german no-margin no-line" id="german-answer-{{question_number}}" style="display: block">{{question_data["german"]["answer"]}}<button class="primary small-round circle none badge" onclick="playaudio('frage/german/a{{question_number}}', this)"><i>play_arrow</i></button></pre>
                <!-- Englisjh Answers -->
                <pre class="english no-margin no-line" id="english-answer-{{question_number}}" style="display: none">{{question_data["english"]["answer"]}}<button class="primary small-round circle none badge" onclick="playaudio('frage/english/a{{question_number}}', this)"><i>play_arrow</i></button></pre>

                <!-- German References -->
                <div class="german right-align" id="german-reference-{{question_number}}" style="display: block">
                    {% for reference in question_data["german"]["references"] %}
                    <a class="none badge small-round tiny-padding transparent wave">{{reference}}</a>
                    {% endfor %}
                </div>
                <!-- English References -->
                <div class="english right-align" id="english-reference-{{question_number}}" style="display: none">
                    {% for reference in question_data["english"]["references"] %}
                    <a class="none badge small-round tiny-padding transparent wave">{{reference}}</a>
                    {% endfor %}
                </div>
                </details>
            {% endfor %}
            </div>
        </div>
        <div class="page no-padding center-align" id="spruch">
            <p class="center-align bold">GOTTES ERLÖSUNGSPLAN II Ein anderer schöner Spruch für die Täuflinge zu lernen.</p>
            <nav class="center-align top-padding">
            <button class="primary small-round tiny" onclick="playaudio('spruch/full', this)">
                <i>play_arrow</i>
            </button>
            <a href="/static/audio/spruch/full.mp3" download="Baptism - Spruch (German).mp3" class="border small-round tiny english small-padding wave">
                <i>download</i>
            </a>
            </nav>
            {% for verse_number, content in baptism_booklet_data["poems"]["gottes_erlösungsplan"].items() %}
            <p class="no-line center-align">
                {{verse_number}}. {{content}} <button class="primary small-round circle none badge" onclick="playaudio('spruch/{{verse_number}}', this)">
                        <i>play_arrow</i>
                    </button>
            </p>
            {% endfor %}
        </div>
        <div class="page no-padding" id="request">
            <div class="grid no-space">
                <article class="s12 m6 l6 margin">
                    <h6>{{baptism_booklet_data["request"]["german"]["title"]}}</h6>
                    <p class="no-line">{{baptism_booklet_data["request"]["german"]["content"]}}</p>
                </article>
                <article class="s12 m6 l6 margin">
                    <h6>{{baptism_booklet_data["request"]["english"]["title"]}}</h6>
                    <p class="no-line">{{baptism_booklet_data["request"]["english"]["content"]}}</p>
                </article>
            </div>
        </div>
    </main>
</body>
</html>
