<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/favicon.png">
    <title>Privacy Policy</title>
</head>

<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <a href="/">
            <i>home</i>
        </a>
        <h5 class="max center-align small">Privacy Policy</h5>
    </nav>
</header>

<body class="dark">
    <main class="responsive">
        <p>
            Jared Gross operates the website "Hutterite Bookshelf" at <a
                class="link">https://hutteritebookshelf.hbni.net</a>.
            This privacy policy applies to the Hutterite Bookshelf app for mobile
            devices that was created by TheCodingJsoftware as an Open Source
            service. This service is intended for use "AS IS".
        </p>
        <h5>Collection of Routine Information</h5>
        <p>
            This website DOES NOT track information about its visitors.
        </p>
        <h5>Cookies</h5>
        <p>
            Where necessary, this website uses cookies to store information about a visitor's
            preferences and history to better serve the visitor and/or present the
            visitor with customized content.
        </p>
        <h5>Advertisement and Other Third Parties</h5>
        <p>
            There is NO advertising on this website nor do we use any third part services.
        </p>
        <h5>Security</h5>
        <p>
            There are NO encrpytion or security measures in place on this website.
        </p>
        <h5>Changes To This Privacy Policy</h5>
        <p>
            This Privacy Policy is effective as of 2024-08-29 and will remain in effect except concerning
            any
            changes in its provisions in the future, which will be in effect immediately after being posted on this
            page.
            I reserve the right to update or change my Privacy Policy at any time and
            you
            should check this Privacy Policy periodically.
        </p>
        <p>
        <h5>Contact Information</h5>
        </p>
        <p>
            For any questions or concerns regarding the privacy policy,
            please send me an email at <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>.
        </p>
        <p>
        </p>
    </main>
</body>

</html>